#bio {
  background-color: var(--main-bg-color);
  height: 120vh;

  transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);

  color: var(--main-text-color);
}

#bio h1{
  top: 40vh;
  position: relative;
  font-size: 60px;

  pointer-events:none;

  transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
}

.chevron {
  margin-left: 50px;
  margin-bottom: 10px;

  pointer-events: all;

  transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
}

.chevron:hover {
  transform: translateX(20px) scale(1.1);
}

.wipeL{
  animation: 2s box-wipe-leave forwards;
}

.wipeE{
  animation: 2s box-wipe-enter forwards;
}


.pfp{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;

  clip-path: circle(50%);
  transition: clip-path 1s;
}

.pfp:hover{
  clip-path: circle(69%);
}

@keyframes box-wipe-leave {
  0% { clip-path: inset(0); }
  50% { clip-path: inset(0% 50% 0% 50%); opacity: 1 }
  100% { clip-path: inset(100% 100% 100% 100%); opacity: 0 }
}

@keyframes box-wipe-enter {
  0% { clip-path: inset(100% 100% 100% 100%); opacity: 0 }
  50% { clip-path: inset(0% 50% 0% 50%); opacity: 1 }
  100% { clip-path: inset(0); }
}