#bio {
  background-color: var(--main-bg-color);
  height: 120vh;

  transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
}

#bio h1{
  color: var(--main-text-color);
  top: 40vh;
  position: relative;
  font-size: 60px;

  pointer-events:none;

  transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
}

.chevron {
  margin-left: 50px;
  margin-bottom: 10px;

  pointer-events: all;

  transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
}

.chevron:hover {
  transform: translateX(20px) scale(1.1);
}

.sStay{
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 1s cubic-bezier(0.64, 0, 0.78, 0) !important;
  transform: translateX(40vh);
}

/*anime.js*/
/*.box {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--main-text-color);
  transform-origin: 0 0;
}
.box l1 {
  left: 0;
}
.box l2 {
  bottom: 0;
}
.box l3 {
  right: 0;
}
.box l4 {
  top: 0;
}*/

.sLeft{
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 1s cubic-bezier(0.64, 0, 0.78, 0) !important;
  transform: translateX(-40vh);
  opacity: 0 !important;
}