#landing-section {
  height: 150vh;
  padding-bottom: 10vh;
}

#landing-section::-webkit-scrollbar {
  transform: translate3d(0, -20%, 0);
}

#main-title {
  color: var(--main-text-color);
  width: 25%;
  position: sticky;
  left: 37.5%;
  top: 40%;
}

#main-title-text {
  transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
}

#main-title-text:hover {
  transform: scale(1.1);
}

/*tsparticles*/
#tsparticles {
  top: 0;
  position: absolute;
  width: 100%;
  height: 125%;
}

/*anime.js*/
.line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--main-text-color);
  transform-origin: 0 0;
}
.l1 {
  bottom: 0;
}
