#root{
  /*background-color: var(--main-bg-color);*/
  /*scroll-behavior: smooth !important;*/
}

:root{
  --theme-color-1: #000000;

  --main-bg-color: #EFF1F3;
  --main-text-color: #080705;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/*tsparticles*/
#tsparticles {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.parallax {
  perspective: 1000px;
  height: 100vh;
  
  overflow-x: hidden;
  overflow-y: auto;
  
  scroll-behavior: smooth;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__group {
  position: relative;
  /*height: 100vh;*/
  transform-style: preserve-3d;
  transform-origin: center;
}

.parallax__layer--front {
  /*transform: translateZ(0px);*/
  pointer-events:all;
}

.parallax__layer--middle {
  transform: translateZ(-375px);
  pointer-events:none;
}

.parallax__layer--back {
  transform: translateZ(-750px);
  
  height: 250%;
  width: 200%;
  top: -50%;
  left: -50%;
  
  pointer-events:none;
  background-color: var(--main-bg-color);
}
